# ignore vars files
vars/
group_vars/*.yml
host_vars/*.yml
# ignore role vars, use default vars directory to show required vars for role
roles/**/vars

notes.md

roles/nginx/files/*
!roles/nginx/files/*.md
roles/nvim/files/*
!roles/nvim/files/*.md
roles/ssh/
roles/users/
roles/zsh/files/*
!roles/zsh/files/*.md
